/* Définition des polices personnalisées */

@font-face
{
    font-family: 'Raleway';
    src: url('polices/Raleway-VariableFont_wght.ttf');
}

a
{  
    color: black;
    text-decoration: none;
}

section h1
{  
    font-size: 22px;
    font-weight: bolder;
}

section h2
{  
    font-size: 15px;
    font-weight: bold;
}

section h3
{  
    font-size: 15px;
    font-weight: light;
}

footer h1
{  
    font-size: 18px;
    font-weight: light;
}
ul
{  
    font-size: 16px;
    list-style-type: none;
}

/* Eléments principaux de la page */

body
{  
    font-family: raleway;
    font-weight: normal;
}

#bloc_page
{  

}

/* header */

header
{  

}

#titre_principal
{  

}


#titre_principal h1
{  
    font-size: 22px;
    font-weight: bolder;
}

#titre_principal h2
{  
    font-size: 15.5px;
    font-weight: light;
}


#recherche
{   
    display: flex;
    justify-content: space-between;
    width: 400px;
    font-size: 15.5px;
    font-weight: bold;
    border: 1px #f2f2f2 solid;
    border-radius: 20px 20px 20px 20px;
    background-color: #f2f2f2;
}

#logomap
{   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width:50px;
    background-color: #f2f2f2;
    border-radius: 20px 0px 0px 20px;
}

#cellulerecherche
{   
    display: flex;
    justify-content: center;
    align-items:center;
    height: 50px;
    width: 230px;
    color: black;
    font-weight: bold;
}

.champ
{   
    width: 235px;
    height: 50px;
    color: black;
    font-weight: bold;
    padding-left: 15px;
    border: none;
    font-size: 16px;
}

#boutonrechercher
{   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    color: white;
    font-weight: bold;
    background-color: #0065FC;
    border-radius: 0px 20px 20px 0px;

}

#filtres
{  
    font-size: 15.5px;
    font-weight: bold;
}

header h3
{  
    font-size: 15.5px;
    font-weight: light;
}

nav
{  
    font-size: 15.5px;
    font-weight: light;
}

#sinscrire
{  
    color: #0065FC;
    font-weight: bold;
}

/* section 1 Hébergements */

#hebergements
{  

}

#bloc_vignettes_hebergements
{  

}

#vignette_hebergement
{  

}

/* section 2 Les plus populaires */

#populaires
{  

}

#bloc_vignettes_populaires
{  

}

#vignette_populaire
{  

}

/* section 3 Activités */

#activites
{  

}

#bloc_vignettes_activites
{  

}

#vignette_activites
{  

}

/* Footer */

#a_propos
{  

}

#nos_hebergements
{  

}

#assistance
{  

}