/* Règles communes */

*, *::before, *::after {
    box-sizing: border-box;
}

a
{  
    color: black;
    text-decoration: none;
}

section h1
{  
    font-size: 22px;
}

section h2
{  
    font-size: 15px;
}

ul
{  

    list-style-type: none;
}

.--fa-inverse
{  
    color: #0065FC;
}

.greystar
{ 
    color: #f2f2f2;
}

/* Eléments principaux de la page */

body
{  
    font-family: raleway;
}

#bloc_page
{  
    margin: auto;
}

/* header */

.logo_reservia
{  
    margin-bottom: 14px;
}

header
{  
    margin-left: 30px;
    margin-right: 30px;
}

header p
{  
    font-size: 17px;
}

header p i
{
    border: 2px #f2f2f2 solid;
    border-radius: 30px 30px 30px 30px;
    margin-right: 5px;
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 2px;
    padding-top: 2px;
}

#titre_principal h1
{  
    font-size: 22px;
    margin-bottom: 6px;
}

#titre_principal p
{  
    margin-top: 12px;
    margin-bottom: 20px;  
}

#recherche
{   
    display: flex;
    justify-content: space-between;
    width: 420px;
    font-size: 15.5px; 
    border-radius: 20px 20px 20px 20px;
    margin-top: 15px;
    border-left: none;
}

#logomap
{   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    min-width: 50px;
    background-color: #f2f2f2;
    border-radius: 20px 0px 0px 20px;
}

.champ
{   
    width: 150%;
    min-width: 250px;
    height: 50px;
    font-weight: bold;
    color: black;
    padding-left: 15px;
    border: 1px #f2f2f2 solid;
    font-size: 18px;
}

.champ:focus
{   
    outline: none;
}

#boutonrechercher
{   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 140px;
    color: white;
    font-weight: bold;
    background-color: #0065FC;
    border-radius: 0px 20px 20px 0px;
    padding-left: 5px;
    padding-right: 5px;
}

#iconerechercher
{   
    display: none;
}

#filtres
{   
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 8Opx;
}

#lignefiltres
{   
    display: flex;
}

#filtres h1
{  
    font-size: 18px;
    margin-right: 30px;
}

#filtre_economique, #filtre_familial, #filtre_romantique, #filtre_animaux
{  
    font-size: 18px;
    font-weight: bold;
    border: 3px #f2f2f2 solid;
    border-left: none;
    border-radius: 30px 30px 30px 30px;
    margin-right: 20px;
    height: 50px;
}

#filtre_economique
{ 
    min-width: 190px;
}

#filtre_familial
{ 
    min-width: 150px;
}

#filtre_romantique
{ 
    min-width: 190px;
}

#filtre_animaux
{ 
    min-width: 245px;
}

#filtre_economique a, #filtre_familial a, #filtre_romantique a, #filtre_animaux a
{  
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}

#filtre_economique:hover, #filtre_familial:hover, #filtre_romantique:hover, #filtre_animaux:hover
{ 
    background-color: #DEEBFF;
    border: 3px #DEEBFF solid;
    border-left: none;
}

.filtre
{  
    padding-left: 10px;
    padding-right: 20px; 
}

#filtres i
{  
    position: relative;
    bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 30px 30px 30px 30px;
    height: 50px;
    width: 50px;
    margin-left: 0px;
}

#filtres a
{  
    height: 50px;
}

#infos
{  
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.iconeinfo
{   
    border: 1px #f2f2f2 solid;
    border-radius: 20px 20px 20px 20px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-size: 16px;
}

#infos I
{   
    border: 2px #f2f2f2 solid;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
}

#infos p
{   
    text-align: center;
    padding-right: 10px;
}

nav
{  
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15.5px;
    position: absolute;
    top: 1px;
    right: 200px;
}

nav a
{  
    margin-left: 50px;
    padding: 15px;
}

nav ul a:hover
{  
    color: #0065FC;
    border-top: 2px #0065FC solid;
}

nav ul
{  
    display: flex;
}

#sinscrire
{  
    color: #0065FC;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15.5px;
    position: absolute;
    top: 4px;
    right: 60px;
    padding-top: 17px;
}

/* section 1 Hébergements */

#hebergements:nth-child(1)
{  
    background: #f2f2f2;
    border-radius: 25px;
    padding: 40px;
    width: 65%;  
    order: 1;
} 

#sections_hebergements_et_populaires
{  
    display: flex;
    justify-content: space-between;
}

#bloc_vignettes_hebergements
{  
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

#vignette_hebergement1
{
    
    background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");  
}

#vignette_hebergement2
{
    background-image: url("images/hebergements//4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");  
}

#vignette_hebergement3
{
    background-image: url("images/hebergements//4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");  
}

#vignette_hebergement4
{
    background-image: url("images/hebergements//4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");  
}

#vignette_hebergement5
{
    background-image: url("images/hebergements//4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");  
}

#vignette_hebergement6
{
    background-image: url("images/hebergements//4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");  
}

#vignette_hebergement1, #vignette_hebergement2, #vignette_hebergement3, #vignette_hebergement4, #vignette_hebergement5, #vignette_hebergement6
{  
    position: relative;
    border: 6px white solid;
    border-radius: 30px;
    box-shadow: 0px 0px 20px lightgray;
    min-width: 275px;
    width: 100%;
    height: 220px;
    background-size: 80%;
    margin-right: 20px;
    margin-bottom: 30px;
}   

.description_hebergement
{
    position: absolute;
    bottom: -1px;
    background-color: white;
    border-radius: 0px 0px 25px 25px;
    padding-left: 15px;
    padding-bottom: 5px;
    height: 40%;
    width: 102%;
    margin-left: -2px;
}

.description_hebergement h2
{ 
    font-size: 17px;
    margin-bottom: 5px;
    margin-top: 8px;
}

.description_hebergement p
{ 
    font-size: 15px;
    margin-bottom: 3px;
    margin-top: 3px;
}

#stars2
{
    position: absolute;
    bottom: 0;
    margin-bottom: 0px;
}

/* section 2 Les plus populaires */

#populaires:nth-child(2)
{  
    border-radius: 30px;
    padding: 40px;
    width: 32%;
    background: #f2f2f2;
    order: 2;
}

#titre_populaires
{   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titre_populaires i
{   
    font-size: 23px;
}

#bloc_vignettes_populaires
{  
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

#vignette_populaire1
{
    background-image: url("images/populaires/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}

#vignette_populaire2
{
    background-image: url("images/populaires/aw-creative-VGs8z60yT2c-unsplash.jpg");
}

#vignette_populaire3
{
    background-image: url("images/populaires/febrian-zakaria-sjvU0THccQA-unsplash.jpg"); 
}

#vignette_populaire1, #vignette_populaire2, #vignette_populaire3
{  
    position: relative;
    border: 6px white solid;
    box-shadow: 0px 0px 20px lightgray;
                
    border-radius: 30px;
    width: 100%;
    height: 150px;
    background-size: 70%;
    margin-bottom: 30px;
    background-position: left;
    background-repeat: no-repeat;
}

.description_populaire
{
    position: absolute;
    right: 0;
    background-color: white;
    width: 60%;
    height: 100%;
    border-radius: 0px 25px 25px 0px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.description_populaire p
{
    font-size: 15px;
}

.description_populaire h2
{
    font-size: 17px;
}

#stars
{
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

/* section 3 Activités */

#activites
{  

    height: 580px;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
}

#activites h1
{  
    padding-bottom: 15px;
}

#bloc_vignettes_activites
{  
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#bloc_vignettes_activites_colonne1
{  
    width: 23%;
    height: 100%;
}

#bloc_vignettes_activites_colonne2
{  
    height: 100%;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#bloc_vignettes_activites_colonne3
{  
    height: 100%;
    width: 23%;
}

#bloc_vignettes_activites_colonne4
{  
    height: 100%;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#vignette_activite1, #vignette_activite2, #vignette_activite3, #vignette_activite4, #vignette_activite5, #vignette_activite6
{ 
    position: relative;
    box-shadow: 5px 5px 7px#f2f2f2,
                -5px 5px 7px #f2f2f2;
    border-radius: 30px;
    width: 100%;
    background-size: 50%;
    background: no-repeat center;
    margin-right: 30px;
}

.description_activites
{
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 60px;
    border-radius: 0px 0px 28px 28px;
    padding-left: 15px;
    padding-bottom: 10px;
}

#vignette_activite1
{  
    min-height: 520px;
    background-image: url("images/activites/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-position-y: top;
}

#vignette_activite2
{  
    min-height: 190px;
    background-image: url("images/activites/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: 105%;
}   

#vignette_activite3
{  
    min-height: 290px;
    background-image: url("images/activites/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
}

#vignette_activite4
{  
    min-height: 520px;
    background-image: url("images/activites/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: 300%;
    background-position-y: center;
}

#vignette_activite5
{  
    height: 190px;
    background-image: url("images/activites/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}

#vignette_activite6
{  
    height: 290px;
    background-image: url("images/activites/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}

/* Footer */

footer
{  
    display: flex;
    justify-content: flex-start;
    background-color: #f2f2f2;
    padding: 50px;
    margin-top: 50px;
    width: 100%;
}

footer h1
{  
    font-size: 18px;    
}

footer ul
{  
    padding-left: 0px;
}

footer li
{  
    margin-bottom: 10px;
}

#a_propos
{  
    width: 35%;  
}

#nos_hebergements
{  
    width: 35%;
}

#assistance
{  
    width: 30%;
}

/* MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES */


/* BIG SCREENS START BIG SCREENS START BIG SCREENS START */
/* BIG SCREENS START BIG SCREENS START BIG SCREENS START */



@media all and (min-width: 1765px) {  
   h1
    {
        color: ;
    
    }

#vignette_hebergement1, #vignette_hebergement2, #vignette_hebergement3, #vignette_hebergement4, #vignette_hebergement5, #vignette_hebergement6
{  
    min-width: 310px;
    width: 100%;
    height: 260px;
} 

#vignette_populaire1, #vignette_populaire2, #vignette_populaire3
{  
    width: 100%;
    height: 200px;
}

.logo_reservia
{  
    width: 126px;
    height: 58px;
}

header p
{  
    font-size: 20px;
}

header p i
{
    border: 2px #f2f2f2 solid;
    border-radius: 30px 30px 30px 30px;
    margin-right: 5px;
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 2px;
    padding-top: 2px;
}

#titre_principal h1
{  
    font-size: 28px;
}

#recherche
{   
    display: flex;
    justify-content: space-between;
    width: 420px;
    font-size: 15.5px; 
    border: 1px #f2f2f2 solid;
    border-radius: 20px 20px 20px 20px;
    background-color: #f2f2f2;
    margin-top: 15px;
}

#logomap
{   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    min-width: 60px;
    background-color: #f2f2f2;
    border-radius: 20px 0px 0px 20px;
}

.champ
{   
    width: 100%;
    min-width: 310px;
    height: 70px;
    font-size: 22px;
}

#boutonrechercher
{   
    font-size: 22px;
    width: 220px;
    padding-right: 20px;
    padding-left: 20px;
}

#filtres
{  
    margin-bottom: 40px;
}

#filtres h1
{  
    font-size: 22px;
}

#filtre_economique, #filtre_familial, #filtre_romantique, #filtre_animaux
{  
    font-size: 24px;
    height: 60px;
}

#filtres i
{  
    position: relative;
    bottom: 3px;
    height: 60px;
    width: 60px;
}

#filtres a
{  
    height: 60px;
}

nav
{  
    position: absolute;
    top: 1px;
    right: 200px;
    font-size: 20px;
}

nav a
{  
    font-size: 20px;
}

#sinscrire
{  
    font-size: 20px;
}

section h1 
{  
    font-size: 28px;
}

#vignette_hebergement1, #vignette_hebergement2, #vignette_hebergement3, #vignette_hebergement4, #vignette_hebergement5, #vignette_hebergement6
{  
    height: 260px;
}

.description_hebergement
{ 
    width: 102%;
}

.description_hebergement h2
{ 
    font-size: 21px;
}

.description_hebergement p
{ 
    font-size: 19px;
    margin-bottom: 0px;
}

.afficherplus
{  
    font-size: 22px;
}

#titre_populaires i
{ 
    font-size: 28px;
}

.description_populaire
{ 
    padding-right: 40px;
    height: 102%;
}

.description_populaire h2
{ 
    font-size: 21px;
}

.description_populaire p
{ 
    font-size: 19px;
}

#stars, #stars2
{
    font-size: 18px;
}

#stars2
{
    margin-bottom: 10px;
}

#stars
{
    margin-bottom: 15px;
}

.description_activites h2
{ 
    font-size: 21px;
}

#vignette_activite1
{  
    min-height: 590px;
    background-size: 300%;
    background-position-y: center;
}

#vignette_activite2
{  
    min-height: 320px;
}   

#vignette_activite3
{  
    min-height: 200px;
}

#vignette_activite4
{  
    min-height: 590px;
}

#vignette_activite5
{  
    min-height: 320px;
    margin-bottom: 70px;
}   

#vignette_activite6
{  
    height: 200px; 
}

footer
{  
    margin-top: 150px;
}

footer h1
{  
   font-size: 22px;
}

footer li
{  
    font-size: 22px;
}
}

/* MED SCREENS START MED SCREENS START MED SCREENS START MED SCREENS START MED SCREENS START */


@media all and (min-width: 1630px) and (max-width: 1765px)
{  
   h1
    {
        color: ;palegoldenrod
    
    }

    #vignette_hebergement1, #vignette_hebergement2, #vignette_hebergement3, #vignette_hebergement4, #vignette_hebergement5, #vignette_hebergement6
{  
    min-width: 280px;
    width: 100%;
    height: 260px;
    background-size: 80%;
} 

#vignette_populaire1, #vignette_populaire2, #vignette_populaire3
{  
    width: 100%;
    height: 200px;
}

.logo_reservia
{  
    width: 126px;
    height: 58px;
}

#titre_principal p
{  
    font-size: 20px;
}

header p i
{
    border: 2px #f2f2f2 solid;
    border-radius: 30px 30px 30px 30px;
    margin-right: 5px;
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 2px;
    padding-top: 2px;
}

#titre_principal h1
{  
    font-size: 28px;
}

#recherche
{   
    display: flex;
    justify-content: space-between;
    width: 420px;
    font-size: 15.5px; 
    border: 1px #f2f2f2 solid;
    border-radius: 20px 20px 20px 20px;
    background-color: #f2f2f2;
    margin-top: 15px;
}

#logomap
{   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    min-width: 60px;
    background-color: #f2f2f2;
    border-radius: 20px 0px 0px 20px;
}

.champ
{   
    width: 100%;
    min-width: 310px;
    height: 70px;
    font-size: 22px;
}

#boutonrechercher
{   
    font-size: 22px;
    width: 220px;
    padding-right: 20px;
    padding-left: 20px;
}

#filtres
{  
    margin-bottom: 40px;
}

#filtres h1
{  
    font-size: 22px;
}

#filtre_economique, #filtre_familial, #filtre_romantique, #filtre_animaux
{  
    font-size: 24px;
    height: 60px;
}

#filtres i
{  
    position: relative;
    bottom: 3px;
    height: 60px;
    width: 60px;
}

#filtres a
{  
    height: 60px;
}

#infos p
{   
    font-size: 20px;
}

nav
{  
    position: absolute;
    top: 1px;
    right: 200px;
    font-size: 20px;
}

#sinscrire
{  
    font-size: 20px;
}

section h1 
{  
    font-size: 28px;
}

#vignette_hebergement1, #vignette_hebergement2, #vignette_hebergement3, #vignette_hebergement4, #vignette_hebergement5, #vignette_hebergement6
{  
    height: 260px;
}

.description_hebergement h2
{ 
    font-size: 21px;
}

.description_hebergement p
{ 
    font-size: 19px;
    margin-bottom: 0px;
}

.afficherplus
{  
    font-size: 22px;
}

#titre_populaires i
{ 
    font-size: 28px;
}

.description_populaire
{ 
    padding-right: 40px;
}

.description_populaire h2
{ 
    font-size: 21px;
}

.description_populaire p
{ 
    font-size: 19px;
}

#stars, #stars2
{
    font-size: 18px;
}

#stars2
{
    margin-bottom: 10px;
}

.description_activites h2
{ 
    font-size: 21px;
}

#vignette_activite1
{  
    min-height: 590px;
    background-size: 300%;
    background-position-y: center;
}

#vignette_activite2
{  
    min-height: 320px;
    margin-bottom: 70px;
}   

#vignette_activite3
{  
    min-height: 200px;
}

#vignette_activite4
{  
    min-height: 590px;
}

#vignette_activite5
{  
    min-height: 320px;
    margin-bottom: 70px;
}   

#vignette_activite6
{  
    height: 200px; 
}

footer
{  
    margin-top: 150px;
}

footer h1
{  
   font-size: 22px;
}

footer li
{  
    font-size: 22px;
}
}

/* SMALL SCREENS SMALL SCREENS SMALL SCREENS SMALL SCREENS SMALL SCREENS SMALL SCREENS SMALL SCREENS */
/* SMALL SCREENS SMALL SCREENS SMALL SCREENS SMALL SCREENS SMALL SCREENS SMALL SCREENS SMALL SCREENS */



@media all and (min-width: 1280px) and (max-width: 1630px)
{  
   h1
    {
        color: ; blue
    }

#vignette_hebergement1, #vignette_hebergement2, #vignette_hebergement3, #vignette_hebergement4, #vignette_hebergement5, #vignette_hebergement6
{  
    min-width: 230px;
    width: 100%;
    height: 200px;
} 

#logomap
{   
    height: 50px;
    min-width: 50px;
    font-size: 13px;
}
    
.champ
{   
    width: 130%;
    min-width: 190px;
    height: 50px;
    padding-left: 15px;
    font-size: 18px;
}

.info
{   
    font-size: 12px;
    padding: 5px 9px 5px 9px;
}

#infos p
{   
    font-size: 16px;
}

#sinscrire
{   
    position: absolute;
    top: 0px;
    right: 60px;
}

#stars, #stars2
{
    font-size: 14px;
}

#stars2
{
    margin-bottom: 3px;
}

#sections_hebergements_et_populaires
{  
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
}

.description_hebergement h2
{ 
    font-size: 16px;
}

.description_hebergement p
{ 
    font-size: 14px;
    margin-bottom: 0px;
}

section h1
{ 
    font-size: 22px;
}

.afficherplus
{  
    font-size: 18px;
}

.description_populaire
{ 
    padding-right: 30px;
    padding-bottom: 6px;
}

.description_populaire h2
{ 
    font-size: 16px;
    margin-bottom: 5px;
}

.description_populaire p
{ 
    font-size: 14px;
    margin-top: 6px;
}

#stars
{
  margin-bottom: 4px;
}

#activites
{ 
    height: 520px;
}

.description_activites h2
{ 
    font-size: 16px;
}

.description_activites
{ 
    height: 50px;
}

#bloc_vignettes_activites, #bloc_vignettes_activites_colonne2, #bloc_vignettes_activites_colonne4
{ 
    height: 450px;
}

.lien_vignette_2
{ 
    height: 230px;
}

#vignette_activite1
{  
    min-height: 450px;
    background-size: 300%;
    background-position-y: center;
}

#vignette_activite2
{  
    min-height: 230px;
    margin-bottom: 70px;
}   

#vignette_activite3
{  
    min-height: 160px;
}

#vignette_activite4
{  
    height: 450px;
    min-height: 450px;
}

#vignette_activite5
{  
    min-height: 230px;
    margin-bottom: 70px;
}   

#vignette_activite6
{  
    height: 160px; 
}

footer
{ 
    padding-top: 35px
}

footer h1
{  
   font-size: 17px;
}

footer li
{  
    font-size: 16px;
}

#a_propos
{  
    width: 33%;
}
}

/* SMARTPHONES SMARTPHONES SMARTPHONES SMARTPHONES SMARTPHONES */
/* SMARTPHONES SMARTPHONES SMARTPHONES SMARTPHONES SMARTPHONES */


@media all and (min-width: 980px) and (max-width: 1280px)
{  
        h1
        {
            color: ;greenyellow
        } 

header
{  
    margin-left: 25px;
    margin-right: 25px;
}

header p
{  
    font-size: 13px;
}

header p i
{
    border: 2px #f2f2f2 solid;
    border-radius: 30px 30px 30px 30px;
    margin-right: 5px;
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 2px;
    padding-top: 2px;
}

#titre_principal h1
{  
    font-size: 16px;
    margin-bottom: 6px;
}

#titre_principal p
{  
    margin-top: 16px;
}

.logo_reservia
{  
    width: 70px
}

#recherche
{   
    width: 250px;
    height: 40px;

}

#logomap
{   
    height: 40px;
    border-radius: 12px 0px 0px 12px;
    min-width: 40px;
}

#logomap i 
{   
    border-radius: 12px 0px 0px 12px;
    font-size: 14px;
}

.champ 
{
    min-width: 180px;
    height: 40px;
    padding-left: 10px;
    font-size: 14px;
    border-right: none;
    border-radius: 0px 20px 20px 0px;
}

#boutonrechercher
{   
    font-size: 12px;
    width: 140px;
    font-weight: light;
    border-radius: 0px 12px 12px 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#filtres h1
{  
    font-size: 14px;
    margin-right: 30px;
}

#filtre_economique, #filtre_familial, #filtre_romantique, #filtre_animaux
{  
    font-size: 14px;
    margin-right: 10px;
    height: 40px;
}

#filtre_economique
{ 
    min-width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filtre_familial
{ 
    min-width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filtre_romantique
{ 
    min-width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filtre_animaux
{ 
    min-width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filtre
{  
    padding-left: 10px;
    padding-right: 10px; 
}

#filtres i
{  
    position: relative;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 30px 30px 30px 30px;
    height: 40px;
    width: 40px;
    margin-left: 0px;
}

#infos
{  
    margin-top: 20px;
    margin-bottom: 30px;
}

nav
{  
    font-size: 12px;
    position: absolute;
    top: 1px;
    right: 200px;
}

nav ul a:hover
{  
    color: #0065FC;
    border-top: 2px #0065FC solid;
}

#hebergements:nth-child(1)
{  
    background: #f2f2f2;
    border-radius: 25px;
    padding: 40px;
    width: 65%;  
    order: 1;
} 

#sinscrire
{   
    position: absolute;
    top: -4px;
    right: 60px;
    font-size: 12px;
}

#vignette_hebergement1, #vignette_hebergement2, #vignette_hebergement3, #vignette_hebergement4, #vignette_hebergement5, #vignette_hebergement6
{  
    position: relative;
    border: 3px white solid;
    border-radius: 20px;
    min-width: 160px;
    height: 140px;
    background-size: 50%;
    margin-right: 20px;
    margin-bottom: 30px;
} 

#stars2
{ 
    font-size: 14px;
    margin-bottom: 5px;
}

#infos
{  
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#infos I
{   
    border: 2px #f2f2f2 solid;
    border-radius: 50px;
    text-align: center;
}

.iconeinfo
{   
    font-size: 10px;
    padding: 5px 8px 5px 8px;
}

#sections_hebergements_et_populaires
{  
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
}

section h2
{  
    font-size: 14px;
}

    .description_hebergement
{
    border-radius: 0px 0px 15px 15px;
}

    .description_hebergement h2
{ 
    font-size: 11px;
    margin-bottom: 2px;
    margin-top: 6px;
}

.description_hebergement p
{ 
    font-size: 9px;
    margin-bottom: 3px;
    margin-top: 5px;
}

#vignette_populaire1, #vignette_populaire2, #vignette_populaire3
{  
    border: 3px white solid;
    border-radius: 20px;
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
}

section h1
{
    font-size: 16px;
}

#titre_populaires i
{   
    font-size: 16px;
}

.description_populaire
{
    padding-right: 20px;
    border-radius: 0px 15px 15px 0px;
}

.description_populaire p
{
    font-size: 9px;
}

.description_populaire h2
{
    font-size: 11px;
}

#stars
{
    font-size: 10px;
    margin-bottom: 10px;
}

#stars2
{
    font-size: 10px;
    margin-bottom: 5px;
}

#bloc_vignettes_activites
{  
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 300px;
}

#activites
{  
    height: 350px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
}

#vignette_activite1
{  
    min-height: 300px;
}

#vignette_activite2
{  
    min-height: 150px;
}

#vignette_activite3
{  
    min-height: 120px;
}

#vignette_activite4
{  
    min-height: 300px;
}

#vignette_activite5
{  
    height: 150px;
}

#vignette_activite6
{  
    height: 120px;
}

.description_activites
{
    height: 50px;
    padding-left: 10px;
}

.description_activites h2
{
    margin-top: 15px;
    font-size: 13px;
}

footer
{
    margin-top: 0px;
}
}

/* SMARTPHONES SMARTPHONES  SMARTPHONES  SMARTPHONES  SMARTPHONES */
/* SMARTPHONES SMARTPHONES  SMARTPHONES  SMARTPHONES  SMARTPHONES */
 

@media all and (max-width: 980px)
{  
    h1
    {
         color: ;turquoise
    }

header
{  
    margin-left: 35px;
    margin-right: 35px;
}

.logo_reservia
{  
    width: 280px;
}

nav
{  
    position: absolute;
    top: 170px;
    left: 1px;
    justify-content: stretch;
    text-align: center;
    width: 100%;
}

nav a 
{  
    margin-left: 0px;
}

nav ul a:hover
{  
    color: #0065FC;
    border-bottom: 2px #0065FC solid;
    border-top: none;
    padding-left: 140px;
    padding-right: 140px;
}

nav ul
{  
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    text-align: center;
}

nav li 
{ 
    font-size: 45px;
}

#titre_principal p
{  
    font-size: 40px;
} 

#sinscrire
{  
    font-size: 50px;
    position: absolute;
    top: 30px;
    right: 30px;
    padding-top: 20px;
    margin-right: 10px;
}

#titre_principal h1
{  
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 160px;
}

#filtres
{ 
    flex-direction: column;
}

#recherche
{   
    width: 100%;
    font-size: 65px; 
    border-radius: 40px 40px 40px 40px;
    background-color: #f2f2f2;
    margin-top: 75px;
    align-items: center;
}

#recherche i 
{   
    font-size: 45px;
    text-align: center;
}

#logomap
{   
    min-width: 15%;
    border-radius: 40px 0px 0px 40px; 
    height: 140px;
}

.cellulerecherche
{   
    width: 70%;
    height: 140px;
    font-weight: bold;
    color: black;
    padding-left: 0px;
    border: none;
    font-size: 18px;
}

.champ
{   
    width: 110%;
    height: 140px;
    font-weight: bold;
    color: black;
    padding-left: 35px;
    font-size: 50px;
}

.champ:focus
{   
    outline: none;
}

#boutonrechercher
{   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    min-width: 140px;
    height: 140px;
    color: white;
    font-weight: bold;
    background-color: #0065FC;
    border-radius: 40px 40px 40px 40px;
    padding-left: 0px;
    padding-right: 0px;
}

#iconerechercher
{   
    display: flex;
}


#mot_rechercher
{   
    display: none;
    flex-wrap: wrap;
}

#filtres
{   
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 80px;
}

#lignefiltres
{   
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#filtres h1
{  
    font-size: 50px;
}

#filtre_economique, #filtre_familial, #filtre_romantique, #filtre_animaux
{  

    height: 140px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 8px #f2f2f2 solid;
    border-left: none;
    border-radius: 90px 90px 90px 90px;
}

#filtre_economique
{ 
    min-width: 470px;
    padding-right: 5px
}

#filtre_familial
{ 
    min-width: 360px;
}

#filtre_romantique
{ 
    min-width: 450px;
}

#filtre_animaux
{ 
    min-width: 570px;
    padding-right: 5px;
}

#filtre_economique a, #filtre_familial a, #filtre_romantique a, #filtre_animaux a
{  
    align-items: center;
    border-radius: 30px;
    margin-bottom: 10px;
}

.filtre
{  
    padding-left: 30px;
    padding-right: 30px; 
    font-size: 40px;
    text-align: left;
    position: relative;
    bottom: 0px;
}

#filtres i
{  
    height: 140px;
    width: 140px;
    border-radius: 90px 90px 90px 90px;
    position: relative;
    bottom: 5px;
    font-size: 40px;
}

#filtres a
{  
    height: 140px;
    justify-content: start;
}

#infos
{  
    margin-bottom: 30px;
    margin-top: 40px;
    width: 100%;
}

#infos p 
{  
    font-size: 42px;
    text-align: left;
}

#infos i 
{  
    font-size: 30px;
    padding: 15px 25px 15px 25px;
    border-radius: 90px 90px 90px 90px;
    border: 5px #f2f2f2 solid;
    margin-right: 20px;
}

#sections_hebergements_et_populaires
{  
    flex-direction: column;
    margin-left: -10px;
    margin-right: -10px;
}

#hebergements:nth-child(1)
{   
    background: none;
    border-radius: 0px;
    padding: 20px;
    width: 100%;  
    order: 2;
} 

#hebergements h1
{  
    width: 100%;
    margin-bottom: 16px;
    font-size: 57px;
    margin-left: 50px;
    margin-top: 70px;
    margin-bottom: 60px;
}

#bloc_vignettes_hebergements
{  
    display: flex; 
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 12px;
    margin-left: 30px;
    margin-right: 30px;
}

#vignette_hebergement1, #vignette_hebergement2, #vignette_hebergement3, #vignette_hebergement4, #vignette_hebergement5, #vignette_hebergement6
{  
    box-shadow: 12px 12px 15px#f2f2f2,
                -12px 12px 15px #f2f2f2;
    background-size: 100%;
    height: 570px;
    min-width: 870px;
    width: 100%;
    margin-bottom: 40px;
    border: 13px white solid;
    border-radius: 50px;
}   
 
.description_hebergement h2 
{
    font-size: 48px;
    margin-left: 20px;
    margin-top: 20px;
    padding-right: 40px;
}

.description_hebergement p 
{
    font-size: 40px;
    margin-left: 20px;
    margin-top: 10px;
}

.description_hebergement
{
   border-radius: 0px 0px 60px 60px;
   position: absolute;
   bottom: -20px;
   width: 102%;
}

#stars2
{
    position: absolute;
    bottom: 3px;
    font-size: 38px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.afficherplus
{
    font-size: 48px;
    margin-left: 40px;
}

#populaires:nth-child(2)
{  
    border-radius: 0px;
    padding: 40px;
    width: 100%;
    background: #f2f2f2;
    padding: 20px;
    order: 1;
    margin-bottom: 20px;
}

#titre_populaires h1
{   
   width: 100%;
   margin-bottom: 16px;
   font-size: 57px;
   margin-left: 30px;
   margin-top: 70px;
   margin-bottom: 60px;
}

#titre_populaires i
{   
    font-size: 58px;
    margin-right: 30px;
}

#bloc_vignettes_populaires
{  
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-left: 30px;
    margin-right: 30px;
}

#vignette_populaire1, #vignette_populaire2, #vignette_populaire3
{  
    height: 360px;
    min-width: 340px;
    width: 100%;
    margin-bottom: 30px;
    border: 13px white solid;
    border-radius: 40px;
}

.description_populaire
{
    position: absolute;
    right: 0;
    background-color: white;
    width: 60%;
    height: 101%;
    border-radius: 0px 30px 30px 0px;
    padding-bottom: none;
}

.description_populaire p
{
    font-size: 35px;
    margin-left: 40px;
}

.description_populaire h2
{
    font-size: 40px;
    margin-left: 40px;
    padding-right: 40px;
}

#stars
{
    font-size: 35px;
    margin-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
}


#activites
{  
    height: 100%;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

#activites h1
{  
    padding-bottom: 15px;
    font-size: 22px;
    width: 100%;
    margin-bottom: 16px;
    font-size: 57px;
    margin-left: 30px;
    margin-top: 70px;
    margin-bottom: 60px;
}

#bloc_vignettes_activites
{  

    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: none;
    margin-left: 25px;
    margin-right: 25px;
}

#bloc_vignettes_activites a
{  
    width: 100%;
    height: 100%;
}

#bloc_vignettes_activites_colonne1
{  
    width: 100%;
    height: 100%;
    align-items: center;
}

#bloc_vignettes_activites_colonne2
{  
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#bloc_vignettes_activites_colonne3
{  
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

#bloc_vignettes_activites_colonne4
{  
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#vignette_activite1, #vignette_activite2, #vignette_activite3, #vignette_activite4, #vignette_activite5, #vignette_activite6
{  
    box-shadow: 10px 10px 12px #f2f2f2,
                -10px 10px 12px #f2f2f2;
    background-size: 100%;
    margin-bottom: 50px;
    width: 95%;
}

#vignette_activite1
{  
    min-height: 510px;
}

#vignette_activite2
{  
    min-height: 510px;
}

#vignette_activite3
{  
    min-height: 510px;
}

#vignette_activite4
{  
    min-height: 510px;
}

#vignette_activite5
{  
    min-height: 510px;
}

#vignette_activite6
{  
    min-height: 510px;
}

.description_activites
{
    height: 80px;
    border-radius: 0px 0px 28px 28px;
    padding-left: 50px;
    padding-bottom: 120px;
    width: 100.04%
}

.description_activites h2
{  
    font-size: 42px;
}

footer 
{   
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 40px;
}

footer h1
{  
    margin-left: 40px;
    font-size: 40px;   
    margin-bottom: 60px; 
    margin-top: 100px; 
}

footer ul
{  
    margin-left: 40px;
    padding-left: 0px;
    font-size: 25px; 
}

footer li
{  
    margin-bottom: 30px;
}

#a_propos
{  
    width: 100%;  
}

#nos_hebergements
{  
    width: 100%;
}

#assistance
{  
    width: 100%;
}
}